.chart-size {
    width: 100%; /* Full width of the container */
    height: auto; /* Height will adjust proportionally */
    max-width: 400px; /* Maximum width */
    max-height: 200px; /* Maximum height */
  }
