.inputs{
    display: flex;
    justify-content: space-between;
}
.inputs button{
    position: relative;
    display: block;
    padding: 10px;
    top: 10px;

}
.inputs input{
    width: 100%;
    background-color: #1a2732;
    color: white;
    max-width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.layout-content-container {
    display: flex;
  }
/* Initial sidebar styles */
#sidebar {
    background-color: #1F2937;
    border-radius: 10px;
    position: absolute;
    left: 0;
    width: fit-content;
    transition: width 0.3s ease;
    overflow: hidden;
    margin: 10px;
  }
  
  /* Expanded sidebar styles */
  #sidebar.expanded {
    width: 200px;
  }
  
  /* Hide the full text initially */
  #sidebar p {
    display: none;
  }
  
  /* Show full text when expanded */
  #sidebar.expanded p {
    display: block;
  }
  
  #sidebar svg, #sidebar img {
    margin: auto;
  }
/*Positioning the toggle button*/
#toggleButton {
    width: fit-content;
    position: relative;
    left: 10px;
}