body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
    align-items: center;
}

.pomodoro-container {
    background-color: #36454F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
}

.timer {
    font-size: 3rem;
    margin: 20px 0;
    font-weight: bold;
    color: #e74c3c;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    padding: 15px 25px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.start-pause {
    background-color: #2ecc71;
    color: white;
    padding: 15px;
}

.Reset {
    background-color: #f39c12;
    color: white;
    padding: 15px;
}

.increase, .decrease {
    background-color: #3498db;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.5rem;
}

button:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(2px);
}

/* Small device adjustments */
@media screen and (max-width: 600px) {
    .pomodoro-container {
        padding: 20px;
        width: 90%;
    }

    .timer {
        font-size: 2rem;
    }

    .controls {
        gap: 10px;
    }
}